<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISyncReply" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WSHttpBinding_ISyncReply">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4658/soap12" binding="customBinding"
                bindingConfiguration="WSHttpBinding_ISyncReply" contract="Soap12.ISyncReply"
                name="WSHttpBinding_ISyncReply" />
            <endpoint address="http://localhost:4658/soap11" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISyncReply" contract="Soap11.ISyncReply"
                name="BasicHttpBinding_ISyncReply" />
        </client>
    </system.serviceModel>
</configuration>